
#home-frame{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 20px;
    background-color: rgb(226, 226, 226);

    #home-items{
        // background-color: antiquewhite;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding-inline: 10px;

    }

}